<div class="column col-12 text-center mt-16">
  <h4>Connect with me?</h4>
</div>

<div class="column col-12 card">
  <div class="container-full">
    <div class="container grid-xl">
      <div class="columns">
        <div class="column col-4 col-md-6 col-sm-12">
          <div class="card">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img style="width: 30px; height: 30px;" src="\assets\svg\email.svg">
              <p style="margin-left: 10px;margin-top: 20px;">valeriok2001@gmail.com</p>
            </div>
          </div>
      </div>
        <div class="column col-4 col-md-6 col-sm-12">
          <div class="card">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img style="width: 30px; height: 30px;" src="\assets\svg\phone.svg">
              <p style="margin-left: 10px;margin-top: 20px;">+639992218606</p>
            </div>
          </div>
       </div>
        <div class="column col-4 col-md-6 col-sm-12">
          <div class="card">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img style="width: 30px; height: 30px;" src="\assets\svg\discord.svg">
              <p style="margin-left: 10px;margin-top: 20px;">koe.mi</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

  <script>
    function copy() {
      // Get the text content of the button with id "info"
      var copyText = document.getElementById("info").textContent;
    
      // Copy the text to the clipboard
      navigator.clipboard.writeText(copyText);
      
      // Alert the copied text
      alert("Copied: " + copyText);
    }
  </script>
  