// Media
// Image responsive
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

// object-fit support is coming to Microsoft Edge
// https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectfitandobjectposition/
.img-fit-cover {
  object-fit: cover;
}

.img-fit-contain {
  object-fit: contain;
}

.img-sm {
  width: 64px;
}

.img-xs {
  width: 48px;
}

.img-m-right {
  margin-right: 10px;
}


// Video responsive
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; // Default ratio 16:9, you can calculate this value by dividing 9 by 16
  }

  iframe,
  object,
  embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

video.video-responsive {
  height: auto;
  max-width: 100%;

  &::before {
    content: none;
  }
}

.video-responsive-4-3 {
  &::before {
    padding-bottom: 75%; // Ratio 4:3
  }
}

.video-responsive-1-1 {
  &::before {
    padding-bottom: 100%; // Ratio 1:1
  }
}

// Figure
.figure {
  margin: 0 0 $layout-spacing 0;

  .figure-caption {
    color: $gray-color-dark;
    margin-top: $layout-spacing;
  }
}

//FOR GALLERY

/* The grid: Four equal columns that floats next to each other */
.columnGallery {
  width: 15%;
  max-height: 100%;
  padding: 1px;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

/* Style the images inside the grid */
.columnGallery img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  border-radius: 5%;
  border: 1px solid #cecece;
  
}

.columnGallery img:hover {
  opacity: 1;
  animation: slide-down .15s ease 1;
}

/* Clear floats after the columns */
.rowGallery:after {
  content: "";
  clear: both;
}

.rowGallery {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.containerGallery {
  position: relative;
  display: none;
  max-width:fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Expanding image text */
#imgtextGallery {
  display: block;
  text-align: center;
  color: $primary-color;
  font-size: 15px;
}

/* Closable button inside the image */
.closebtnGallery {
  position: absolute;
  top: 10px;
  right: 15px;
  color: $primary-color;
  font-size: 30px;
  cursor: pointer;
}

.float-containerGallery {
  padding: 20px;
}

.float-childGallery {
  width: 50%;
  float: left;
  padding: 20px;
}  

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}